.main-container {
	padding: 0 100px;
	text-align: center;
}

.welcome-message {
	font-size: 30px;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
}

.main-view {
	margin: auto;
	border: solid 2px black;
}